@use '@carbon/react/scss/spacing' as *;
@use '@carbon/colors';


.repo-page__r1 {
  padding-top: $spacing-05;
  padding-bottom: $spacing-05;
}
 
.home__heading{
  padding-top: $spacing-06;
  padding-bottom: $spacing-06;
  padding-left: $spacing-06;
}

.filter{
  padding-top: $spacing-06;
  padding-bottom: $spacing-06;
} 

.c4p--datagrid__toolbar-options{
  display: none;
}



.filter__banner{
  background-color: #f4f4f4 ;
    padding-bottom: $spacing-06;

}

 .table-container {
  width: 100%; 
}

.c4p--datagrid-filter-panel.c4p--datagrid-filter-panel__container {
  height:calc(100vh - 400px);
}

div.c4p--datagrid__inline-edit-button--disabled{
  color:var(--cds-text-secondary,#525252) !important;
}