@use './components/header/header';
@use'./content/login/login';
@use'./content/empPage/empPage';
@use'./content/home/home';

.cds--content{
    margin-left: 48px;
    margin-top: 48px;
    padding:10px;
}

@media(max-width:600px){
    .cds--content{
        padding:10px !important;
    }

    h1{
        font-size: 40px !important;
    }
}